<div class="container-fluid">
    <div class="row">
        <div class="col-md-7">
            <h4><i class="glyphicon glyphicon-tasks"></i> Create Flow</h4>
            <div class="seperator"></div>
            <p><i class="glyphicon glyphicon-info-sign"></i> <strong>C</strong>lick on the body code anytime to edit the content</p>
            <div class="rules-container" id="rules-container">
							{{#each rule in model.content}}
								{{view 'rule' rule=rule index=_view.contentIndex}}
							{{else}}
                  <p>You dont have any rules. please add some.</p>
							{{/each}}
            </div>
            <div class="pull-right">
                <button type="submit" class="btn btn-primary" {{action 'addNewRule'}}>Add new rule</button>
            </div>
        </div>
        <div class="col-md-5">
            <h4><i class="glyphicon glyphicon-flash"></i> Execute Flow</h4>
            <div class="seperator"></div>
            <div class="well well-lg">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="execute-object" class="text-left col-sm-2 control-label">Object</label>
                        <div class="col-sm-10">
													{{view Ember.TextArea class="form-control" rows="5" id="execute-object" placeholder="Rule object" value=flowParam}}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-primary pull-right" {{action 'executeFlow'}}>Execute</button>
                            <button type="button" class="btn btn-danger pull-right m-r-10" {{action 'newBlankFlow'}}>New Blank flow</button>
                        </div>
                    </div>
                </form>
            </div>
            <h4><i class="glyphicon glyphicon-leaf"></i> Result</h4>
            <div class="seperator"></div>
            <div id="result-container">
								{{#each singleResult in executionResult}}
									{{view 'result' result=singleResult}}
								{{/each}}
            </div>
        </div>
    </div>
</div>