<div class="single-rule" id="rule-1">
    <div class="rule-id-circle">{{increment view.index}}</div>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="rule-1-title" class="text-left col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                {{view Ember.TextField class="form-control" placeholder="Rule title" value=view.rule.title}}
            </div>
        </div>
        <div class="form-group">
            <label for="rule-{{view.index}}-body" class="text-left col-sm-2 control-label">Body</label>
            <div class="col-sm-10">
								{{view Ember.TextArea class="form-control" rows="5"  placeholder="Rule body" value=view.rule.body }}
							{{highlight-js code=view.rule.body lang="js" hasLineNumbers=view.codeHasLines}}
            </div>
        </div>
        <div class="form-group">
            <label for="rule-1-passed" class="text-left col-sm-2 control-label">Passed Id</label>
            <div class="col-sm-10">
							{{view Ember.TextField class="form-control" placeholder="Rule Pass Id" value=view.rule.passId}}
            </div>
        </div>
        <div class="form-group">
            <label for="rule-1-failed" class="text-left col-sm-2 control-label">Failed Id</label>
            <div class="col-sm-10">
							{{view Ember.TextField class="form-control" placeholder="Rule Fail ID" value=view.rule.failId}}
            </div>
        </div>
    </form>
</div>